### Урок 6. Взаимосвязь величин. Показатели корреляции. Корреляционный анализ. Проверка на нормальность

In [1]:
import warnings
import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt
from IPython.display import Image

warnings.filterwarnings('ignore')

#### Задание 1
Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring): <br>
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110] <br>
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832] <br>

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.

2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

Решение: <br>

In [2]:
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

df_salary_scoring = pd.DataFrame({'Salary': salary, 'Scoring': scoring}, columns=['Salary', 'Scoring'])
df_salary_scoring

   Salary  Scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

1) Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.

In [3]:
salary_mean = df_salary_scoring['Salary'].mean()
scoring_mean = df_salary_scoring['Scoring'].mean()

covariance = ((df_salary_scoring['Salary'] - salary_mean) * (df_salary_scoring['Scoring'] - scoring_mean)).sum() / (df_salary_scoring.shape[0] - 1)
covariance

10175.37777777778

In [4]:
np.cov(df_salary_scoring['Salary'], df_salary_scoring['Scoring'])

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [5]:
pearson_correlation = covariance / (df_salary_scoring['Salary'].std() * df_salary_scoring['Scoring'].std(ddof = 1))
pearson_correlation

0.8874900920739164

In [6]:
df_salary_scoring[['Salary', 'Scoring']].corr()

          Salary  Scoring
Salary   1.00000  0.88749
Scoring  0.88749  1.00000

#### Задание 2
Измерены значения IQ выборки студентов, обучающихся в местных технических вузах: <br>
131, 125, 115, 122, 131, 115, 107, 99, 125, 111. <br>
<br>
Известно, что в генеральной совокупности IQ распределен нормально. <br>
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

Решение: <br>

In [7]:
students_iq = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

n = students_iq.shape[0]
mean = students_iq.mean()
std = students_iq.std(ddof=1)
p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

print(f'Доверительный интервал:\n{(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))}')

Доверительный интервал:
(110.55608365158724, 125.64391634841274)

#### Задание 3
Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. <br>
На выборке объёма 27 выборочное среднее составило 174.2. <br>
Найдите доверительный интервал для математического ожидания с надежностью 0.95. <br>

Решение: <br>

In [8]:
var = 25
n = 27
mean = 174.2
p = 0.95
alpha = 1 - p

t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

print(f'Доверительный интервал:\n{(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))}')

Доверительный интервал:
(170.22222422220577, 178.1777757777942)